<div class="d-grid gap-2 col-6 mx-auto">

  <button class="btn btn-primary" type="button">
      <a href="https://wa.me/message/ARNRF2I5YV6BD1" target="_blank" class="text-white"><h2>ESCRÍBENOS A WHATSAPP</h2></a>
  </button>

  <hr class="my-1">

  <button class="btn btn-primary" type="button">
      <a href="/LISTA_DE_PRECIO_14.09.pdf" target="_blank" class="text-white" download="PRECIOS EMPORIO LA CORUÑA AL 14-09-2020"><h2>DESCARGAR LISTA DE PRECIOS</h2></a>
  </button>

  <hr class="my-1">

  <button class="btn btn-primary" type="button">
      <a href="https://instagram.com/emporio_lacoruna?igshid=1flyzew81hgah" target="_blank" class="text-white"><h2><i class="fab fa-instagram"> emporio_lacoruna</i></h2></a>
  </button>

</div>

    <section class="container text-center my-3">
      <img src="/negocio.jpeg" alt="..." class="img-thumbnail">
    </section>

    <hr class="my-3">

    <section class="container text-center">

        <div class="my-3">
          <div>
            <h1>Tienda física y virtual de frutos secos, alimentos veganos, sin gluten, vitaminas, suplementos y más!</h1>            
          </div>
        </div>

        <div class="my-3">
          <img src="/logo.png" alt="..." class="img-thumbnail">
        </div>

    </section>

    <hr class="my-3">

    <section class="container text-center my-3">
        <h2><i class="fas fa-truck"></i> DESPACHO GRATIS SOBRE $5.000.- EN QUILICURA, VALLE GRANDE Y VALLE LO CAMPINO</h2>
    </section>

    <hr class="my-3">

    <section class="container text-center my-3 mb-5">

    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary" type="button">
        <h1>
         <a href="https://maps.apple.com/?address=La%20Coru%C3%B1a,%20Quilicura,%20Chile&ll=-33.349871,-70.725291&q=La%20Coru%C3%B1a&_ext=EiYpx5CLvFutQMAxF8xDRMOuUcA5SbtlYDWsQMBBJcSaEhOuUcBQBA%3D%3D&t=m" target="_blank" class="text-white"><i class="fas fa-map-marker-alt"> UBICACIÓN</i></a>
        </h1>
      </button>
    </div>

    <h1 class="">La Coruña 0505, Parque Central, Quilicura.</h1>  

    </section>