<div class="d-grid gap-2 col-6 mx-auto">

  <button class="btn btn-primary" type="button">
  <a href="https://wa.me/message/ARNRF2I5YV6BD1" target="_blank" class="text-white"><h2>ESCRÍBENOS A WHATSAPP</h2></a>
  </button>

  <hr class="my-1">

  <button class="btn btn-primary" type="button">
  <a href="/LISTA_DE_PRECIO_14.09.pdf" target="_blank" class="text-white" download="PRECIOS EMPORIO LA CORUÑA AL 14-09-2020"><h2>DESCARGAR LISTA DE PRECIOS</h2></a>
  </button>

  <hr class="my-1">

  <button class="btn btn-primary" type="button">
  <a href="https://instagram.com/emporio_lacoruna?igshid=1flyzew81hgah" target="_blank" class="text-white"><h2><i class="fab fa-instagram"> emporio_lacoruna</i></h2></a>
  </button>

</div>

    <div class="container text-center my-3">
      <img src="/negocio.jpeg" alt="..." class="img-thumbnail">
    </div>

    <hr class="my-3">

    <section class="container text-center">

        <div class="my-3">
          <div>
            <h1>Tienda física y virtual de frutos secos, alimentos vegan, sin gluten, vitaminas, suplementos y más!</h1>            
          </div>
        </div>

        <div class="my-3">
          <img src="/logo.png" alt="..." class="img-thumbnail">
        </div>

    </section>



    <hr class="my-3">
    <h2><i class="fas fa-map-marker-alt"></i></h2>
    <h2 class="py-3">La Coruña 0505, Parque Central, Quilicura</h2>  

<%= link_to 'about', pages_about_path %>

