<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-primary" type="button">ESCRÍBENOS A WHATSAPP</button>
  <button class="btn btn-primary" type="button"><a href="/LISTA_DE_PRECIO_14.09.pdf" target="_blank" class="text-white" download="PRECIOS EMPORIO LA CORUÑA AL 14-09-2020">DESCARGAR LISTA DE PRECIOS</a>
  </button>
</div>

<%= link_to 'about', pages_about_path %>